.vs
.svn
logs
FundacaoFisk.SGF.Web.Tests
Boleto.Net/bin
FundacaoFisk.SGF.ApresentacaoRelatorio/bin
FundacaoFisk.SGF.GenericDataAccess/bin
FundacaoFisk.SGF.GenericModel/bin
FundacaoFisk.SGF.Infra.IoC/bin
FundacaoFisk.SGF.Services.CNAB/bin
FundacaoFisk.SGF.Services.InstituicaoEnsino/bin
FundacaoFisk.SGF.Utils/bin
FundacaoFisk.SGF.Web.Service.ApresentadorRelatorio/bin
FundacaoFisk.SGF.Web.Service.Biblioteca/bin
FundacaoFisk.SGF.Web.Service.EmailMarketing/bin
FundacaoFisk.SGF.Web.Services.Auth/bin
FundacaoFisk.SGF.Web.Services.Coordenacao/bin
FundacaoFisk.SGF.Web.Services.Empresa/bin
FundacaoFisk.SGF.Web.Services.Financeiro/bin
FundacaoFisk.SGF.Web.Services.Log/bin
FundacaoFisk.SGF.Web.Services.Pessoa/bin
FundacaoFisk.SGF.Web.Services.Secretaria/bin
FundacaoFisk.SGF.Web.Services.Usuario/bin
FundacaoFisk.SGF.Web/bin
FundacaoFisk.SGF.ApresentacaoRelatorio/obj
FundacaoFisk.SGF.GenericDataAccess/obj
FundacaoFisk.SGF.GenericModel/obj
FundacaoFisk.SGF.Infra.IoC/obj
FundacaoFisk.SGF.Services.CNAB/obj
FundacaoFisk.SGF.Services.InstituicaoEnsino/obj
FundacaoFisk.SGF.Utils/obj
FundacaoFisk.SGF.Web.Service.ApresentadorRelatorio/obj
FundacaoFisk.SGF.Web.Service.Biblioteca/obj
FundacaoFisk.SGF.Web.Service.EmailMarketing/obj
FundacaoFisk.SGF.Web.Services.Auth/obj
FundacaoFisk.SGF.Web.Services.Coordenacao/obj
FundacaoFisk.SGF.Web.Services.Empresa/obj
FundacaoFisk.SGF.Web.Services.Financeiro/obj
FundacaoFisk.SGF.Web.Services.Log/obj
FundacaoFisk.SGF.Web.Services.Pessoa/obj
FundacaoFisk.SGF.Web.Services.Secretaria/obj
FundacaoFisk.SGF.Web.Services.Usuario/obj
FundacaoFisk.SGF.Web/obj
