<div id="nav-left">
    <div class="nav-divider">&nbsp;</div>
    <div id="escola" class="corBranco"><select id="cbEmpresaUsuario" name="cbEmpresaUsuario" style="width: 90%;max-width:180px;" data-dojo-type="dijit/form/FilteringSelect"></select></div>
    <div class="nav-divider">&nbsp;</div>
    <div class="showhide-account">
        <div id="nomeUsuario" class="corBranco"></div>
    </div>
    <div class="nav-divider">&nbsp;</div>
    <div class="showhide-menuLateral" id="configuracao"></div>
    <div class="nav-divider">&nbsp;</div>
    <div class="showhide-menuLateral" id="cadastroBasicos"></div>
    <div class="nav-divider">&nbsp;</div>
    <div class="showhide-menuLateral" id="ajuda"></div>
    <div class="nav-divider">&nbsp;</div>
    <div class="showhide-menuLateral" id="divLogout"></div>
    <div class="nav-divider">&nbsp;</div>
</div>