@{
    ViewBag.Title = "Relatório Matrícula de Outros Produtos";
    Layout = "~/Views/Shared/_layout.cshtml";

}

@section scriptsBody{
    @Scripts.Render("~/bundles/reportMatriculaOutros")
    <script src="~/Scripts/jquery.maskedinput-1.3.js"></script>

    <script type="text/javascript">
        document.getElementById("labelTitulos").innerHTML = "Relatório Matrícula de Outros Produtos";

        //**** Requerires para a Tabulação ****\\
        require([
                "dojo",
                "dijit/layout/TabContainer",
                "dijit/layout/ContentPane",
                "dijit/form/TextBox",
                "dijit/form/Select",
                "dojo/_base/event",
                "dojox/validate/web",
                "dojox/validate/check",
                "dijit/form/NumberTextBox",
                "dijit/form/ValidationTextBox",
                "dijit/form/Form",
                "dojox/form/Manager",
                "dijit/form/DateTextBox",
                "dijit/Dialog"
        ]);
        montarMetodosReportMatriculaOutros();
    </script>
}
<div class="apresentadorMensagem" id="apresentadorMensagem" style="display: none;"></div>
<div>
    <div class="EspacoCaixa caixaPesquisa">
        <form data-dojo-type="dojox/form/Manager" id="formRptMatricula" data-dojo-id="formRptMatricula" enctype="multipart/form-data" class="Formulario">
            <table class="Table">
                <tr>
                    <td style="width: 95%;">
                        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Filtros'" id="panePesqGeral" open="true">
                            <table class="Table">
                                <tr>
                                    <td class="tdRight" style="width: 15%;">
                                        <label>Todas as Escolas:</label>
                                    </td>
                                    <td class="dojoTextBoxIECorrect" style="width: 35%;">
                                        <input type="checkbox" id="ckEscolas" data-dojo-type="dijit/form/CheckBox" class="Check" checked="checked"/>
                                    </td>
                                    <td class="tdRight" id="lbProdutoFiltro" style="width: 10%;">
                                        <label>Produto:</label>
                                    </td>
                                    <td class="dojoTextBoxIECorrect" id="tdProdutoFiltro">
                                        <select id="pesProdutoFiltro" name="pesProdutoFiltro" data-dojo-type="dijit/form/FilteringSelect" required="false" style="width: 85%;"></select>
                                    </td>
                                    <td class="CorpoFormAux AlinhaDireita nowrap" id="lbqtdMax" style="width: 5%;">
                                        <label for="qtdMax">Número de Matrículas:</label>
                                    </td>
                                    <td>
                                        <input data-dojo-type="dijit/form/NumberSpinner"
                                            id="qtdMax"
                                            name="qtdMax"
                                            value="2"
                                            data-dojo-props="smallDelta:1, constraints:{min:1,max:5,places:0,pattern:'0'}"
                                            class="NumberSpinner" />
                                    </td>
                                </tr>
                            </table>
                            <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Período'" id="paneDataInicial" open="true">
                                <table class="Table">
                                    <tr>
                                        <td class="tdRight" style="width: 15%;">
                                            <label for="dtInicial">Data Inicial:</label>
                                        </td>
                                        <td style="width: 35%;" class="dojoTextBoxIECorrect">
                                            <input type="text" id="dtInicial" name="dtInicial" class="alignDojoData" data-dojo-type="dijit.form.DateTextBox" onkeypress="mascaraDataHora(event, this)" style="width: 100%;" />
                                        </td>
                                        <td class="tdRight" style="width: 15%;">
                                            <label for="dtFinal">Data Final:</label>
                                        </td>
                                        <td style="width: 35%;" class="dojoTextBoxIECorrect">
                                            <input type="text" id="dtFinal" name="dtFinal" class="alignDojoData" data-dojo-type="dijit.form.DateTextBox" onkeypress="mascaraDataHora(event, this)" style="width: 100%;" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div style="padding-top: 10px">
        <div class="linha_acoes" style="width: 100%"></div>
        <table style="width: 100%" class="Alinhamento">
            <tr style="width: 100%">
                <td style="text-align: center; width: 50%">
                    <input type="button" id="relatorio" title="Relatório" />
                </td>
            </tr>
        </table>
        <div class="linha_acoes" style="width: 100%"></div>
    </div>
</div>
