@{
    ViewBag.Title = "Relatório de Comissão das Secretárias";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section scriptsBody{
    @Scripts.Render("~/bundles/reportComissaoSecreataria")
    <script type="text/javascript">
        document.getElementById("labelTitulos").innerHTML = "Comissão das Secretárias";
        //**** Requerires para a Tabulação ****\\
        require([
                "dojo",
                "dijit/form/NumberTextBox",
                "dijit/form/ValidationTextBox",
                "dijit/form/FilteringSelect",
                "dijit/form/TimeTextBox",
                "dojo/data/ObjectStore",
                "dijit/form/DateTextBox",
                "dijit/Dialog",
                "dojo/parser"
        ]);
        montarComissaoSecretaria();
    </script>
}

<div class="apresentadorMensagem" id="apresentadorMensagem" style="display:none;"></div>
<script type="text/javascript">
    showCarregando();
</script>
<div>
    <div class="EspacoCaixa caixaPesquisa">
        <form data-dojo-type="dojox/form/Manager" id="formComissaoSecretarias" data-dojo-id="formComissaoSecretarias" enctype="multipart/form-data" class="Formulario">
            <table class="Table">
                <tr>
                    <td style="width: 95%;">
                        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Filtros'" id="panePesqGeral" open="true">
                            <table class="Table">
                                <tr>
                                    <td class="tdRight nowrap" style="width: 15%;" id="tdLblProf">
                                        <label>Funcionário:</label>
                                    </td>
                                    <td style="width: 35%;" id="tdProf">
                                        <select id="cbFuncionario" name="prof" data-dojo-type="dijit/form/FilteringSelect" required="false" style="width: 70%;"></select>
                                    </td>
                                    <td class="tdRight nowrap" style="width: 15%;" id="td1">
                                        <label>Produto:</label>
                                    </td>
                                    <td style="width: 35%;" id="td2">
                                        <select id="cbProduto" name="prof" data-dojo-type="dijit/form/FilteringSelect" required="false" style="width: 70%;"></select>
                                    </td>
                                </tr>
                            </table>

                            <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Período'" id="paneDataInicial" open="true">
                                <table class="Table">
                                    <tr>
                                        <td class="tdRight" style="width: 15%;">
                                            <label for="nome">Data Inicial:</label>
                                        </td>
                                        <td style="width: 35%;" class="dojoTextBoxIECorrect">
                                            <input type="text" id="dtInicial" name="dtInicial" class="alignDojoData" onkeypress="mascaraDataHora(event, this)" data-dojo-type="dijit.form.DateTextBox" style="width: 100%;" />
                                        </td>
                                        <td class="tdRight" style="width: 15%;">
                                            <label for="nome">Data Final:</label>
                                        </td>
                                        <td style="width: 35%;" class="dojoTextBoxIECorrect">
                                            <input type="text" id="dtFinal" name="dtFinal" class="alignDojoData" onkeypress="mascaraDataHora(event, this)" data-dojo-type="dijit.form.DateTextBox" style="width: 100%;" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div style="padding-top: 10px">
    <div class="linha_acoes" style="width: 100%"></div>
    <table style="width: 100%" class="Alinhamento">
        <tr style="width: 100%">
            <td style="text-align: center; width: 50%">
                <input type="button" id="relatorioComissao" title="Relatório" />
            </td>
        </tr>
    </table>
    <div class="linha_acoes" style="width: 100%"></div>
</div>