@{
    ViewBag.Title = "Relatório Pagamento dos Professores";
    Layout = "~/Views/Shared/_layout.cshtml";

}

@section scriptsBody{
    @Scripts.Render("~/bundles/reportPagamentoProfessores")
    @*<script src="~/Scripts/jquery.maskedinput-1.3.js"></script>*@

    <script type="text/javascript">
        document.getElementById("labelTitulos").innerHTML = "Pagamento dos Professores";

        //**** Requerires para a Tabulação ****\\
        require([
                "dojo",
                "dijit/layout/TabContainer",
                "dijit/layout/ContentPane",
                "dijit/form/TextBox",
                "dijit/Dialog",
                "dijit/form/Select",
                "dojo/_base/array",
                "dojo/_base/event",
                "dojox/validate/web",
                "dojox/validate/check",
                "dijit/form/NumberTextBox",
                "dijit/form/ValidationTextBox",
                "dijit/form/Form",
                "dojox/form/Manager",
                "dojox/form/manager/_Mixin",
                "dojox/form/manager/_NodeMixin",
                "dojox/form/manager/_EnableMixin",
                "dojox/form/manager/_ValueMixin",
                "dojox/form/manager/_DisplayMixin",
                "dijit/form/FilteringSelect",
                "dijit/form/TimeTextBox",
                "dojox/charting/Chart",
                "dojox/charting/plot2d/Columns",
                "dojox/charting/axis2d/Default",
                "dojox/charting/widget/Legend",
                "dojox/charting/themes/MiamiNice",
                "dojox/grid/enhanced/plugins/Filter",
                "dojo/parser"
        ]);
        montarRelatorioPagamentoProfessores();
    </script>
}
<div class="apresentadorMensagem" id="apresentadorMensagem" style="display:none;"></div>
<script type="text/javascript">
    showCarregando();
</script>
<div>
    <div class="EspacoCaixa caixaPesquisa">
        <form data-dojo-type="dojox/form/Manager" id="formRptPgtoProfessor" data-dojo-id="formRptPgtoProfessor" enctype="multipart/form-data" class="Formulario">
            <table class="Table">
                <tr>
                    <td style="width: 95%;">
                        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Filtros'" id="panePesqGeral" open="true">
                            <table class="Table">
                                <tr>
                                    <td class="tdRight" style="width: 10%;">
                                        <label>Tipo Relatório:</label>
                                    </td>
                                    <td class="dojoTextBoxIECorrect" style="width: 40%;">
                                        <input type="text" id="tipo_relatorio" name="cd_tipo_relatorio" style="width: 100%;" data-dojo-type="dijit/form/FilteringSelect"/>
                                    </td>
                                    <td class="tdRight" style="width: 10%;">
                                        <label>Professor:</label>
                                    </td>
                                    <td class="dojoTextBoxIECorrect" style="width: 40%;">
                                       <input type="text" id="pesqProf" name="pesqProf" style="width: 100%;" data-dojo-type="dijit/form/FilteringSelect" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Período'" id="paneDataInicial" open="true">
                            <table class="Table">
                                <tr>
                                    <td class="tdRight" style="width: 15%;">
                                        <label for="nome">Data Inicial:</label>
                                    </td>
                                    <td style="width: 35%;" class="dojoTextBoxIECorrect">
                                        <input type="text" id="dtInicial" name="dtInicial" class="alignDojoData" data-dojo-type="dijit.form.DateTextBox" onkeypress="mascaraDataHora(event, this)" required="required" style="width: 100%;" />
                                    </td>
                                    <td class="tdRight" style="width: 15%;">
                                        <label for="nome">Data Final:</label>
                                    </td>
                                    <td style="width: 35%;" class="dojoTextBoxIECorrect">
                                        <input type="text" id="dtFinal" name="dtFinal" class="alignDojoData" data-dojo-type="dijit.form.DateTextBox" onkeypress="mascaraDataHora(event, this)" required="required" style="width: 100%;" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div style="padding-top: 10px">
        <div class="linha_acoes" style="width: 100%"></div>
        <table style="width: 100%" class="Alinhamento">
            <tr style="width: 100%">
                <td style="text-align: center; width: 50%">
                    <input type="button" id="relatorio" title="Relatório" />
                </td>
            </tr>
        </table>
        <div class="linha_acoes" style="width: 100%"></div>
    </div>
</div>
<div id="proPessoaRel" data-dojo-type="dijit.Dialog" title="Pesquisar Pessoa" style="display: none; width: 800px; height: 590px;">
    <div style="width: 785px; height: 590px;">
        @Html.Partial("../Pessoa/pessoaRelFK")
    </div>
</div>