@{
    ViewBag.Title = "Relatório de Saldo Financeiro";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section scriptsBody{
    @Scripts.Render("~/bundles/reportSaldoFinanceiro")
    <script type="text/javascript">
        document.getElementById("labelTitulos").innerHTML = "Saldo Financeiro";

        //**** Requerires para a Tabulação ****\\
        require([
                "dojo",
                "dijit/form/NumberTextBox",
                "dijit/form/ValidationTextBox",
                "dijit/form/Form",
                "dojox/form/Manager",
                "dijit/form/DateTextBox"
        ]);
        montarMetodosSaldoFinanceira();
    </script>
}

<div>
    <div class="EspacoCaixa caixaPesquisa">
        <form id="formPesqSaldoFinan" data-dojo-type="dojox/form/Manager">
            <table class="Table">
                <tr>
                    <td style="width: 95%;">
                        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Filtros'" id="panePesqGeral" open="true">
                            <table class="Table">
                                <tr>
                                    <td class="tdRight" style="width: 15%;">
                                        <label for="dataBase">Data Base:</label>
                                    </td>
                                    <td style="width: 20%;" class="dojoTextBoxIECorrect">
                                        <input type="text" id="dataBase" name="dataBase" 
                                            required="required" 
                                            class="alignDojoData" 
                                            data-dojo-type="dijit.form.DateTextBox"
                                            onkeypress="mascaraDataHora(event, this)"
                                            style="width: 100%;" />
                                    </td>
                                    <td class="tdRight" style="width: 10%">
                                        <label class="AlinhaDireita;" for="categoria">Categoria:</label>
                                    </td>
                                    <td style="width: 20%;" class="dojoTextBoxIECorrect">
                                        <input id="categoria" name="categoria" data-dojo-type="dijit/form/FilteringSelect" style="width: 70%;">
                                    </td>
                                    <td class="tdRight" style="width: 10%">
                                        <label class="AlinhaDireita;" for="tipoLiquidacao">Tipo Liquidação:</label>
                                    </td>
                                    <td style="width: 15%" class="dojoTextBoxIECorrect">
                                        <input type="checkbox" id="tipoLiquidacao" name="tipoLiquidacao" data-dojo-type="dijit/form/CheckBox" checked="checked" class="margemCampoEsq" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div style="padding-top: 10px">
    <div class="linha_acoes" style="width: 100%"></div>
    <table style="width: 100%" class="Alinhamento">
        <tr style="width: 100%">
            <td style="text-align: center; width: 50%">
                <input type="button" id="relatorioSaldoFinan" title="Relatório" />
            </td>
        </tr>
    </table>
    <div class="linha_acoes" style="width: 100%"></div>
</div>
