<form data-dojo-type="dojox/form/Manager" enctype="multipart/form-data" id="formComporMensagem">
    <b>Compor Mensagem</b>
    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Destinatário'" id="tagDestinatario" open="true">
        <table class="Table">
            <tr>
                <td style="width: 15%; height: 35px">
                    <input type="checkbox" id="ckPendentes" required="required" onclick="mostraPeriodoProspect(this)" data-dojo-type="dijit/form/CheckBox" class="Check" /><label for="ckPendentes">Prospect</label>
                </td>
                <td style="width: 15%;">
                    <input type="checkbox" id="ckAluno" required="required" onclick="mostraPeriodoAluno(this)" data-dojo-type="dijit/form/CheckBox" class="Check" /><label for="ckAluno">Aluno</label>
                </td>
                <td style="width: 15%;">
                    <input type="checkbox" id="ckCliente" required="required" data-dojo-type="dijit/form/CheckBox" class="Check" /><label for="ckCliente">Cliente</label>
                </td>
                <td style="width: 20%;">
                    <input type="checkbox" id="ckPessoaRelacionada" required="required" onclick="mostraCamposPessoaRelacionada(this)" data-dojo-type="dijit/form/CheckBox" class="Check" /><label for="ckPessoaRelacionada">Pessoa Relacionada</label>
                </td>
                <td style="width: 18%;">
                    <input type="checkbox" id="ckFuncionarioProfessor" required="required" onclick="mostraProfissao(this)" data-dojo-type="dijit/form/CheckBox" class="Check" /><label for="ckFuncionarioProfessor">Funcionário/Professor</label>
                </td>
            </tr>
            <tr>
                <td style="width: 100%;" colspan="5">
                    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Filtros'" open="true">
                        <table class="Table">
                            <tr>
                                <td class="tdRight" style="width: 15%;">Gênero:</td>
                                <td style="width: 35%;">
                                    <select id="nm_sexo" name="nm_sexo" data-dojo-type="dijit/form/FilteringSelect" style="width: 100%;"></select></td>
                                <td class="tdRight" style="width: 15%;">Mês de Nascimento:</td>
                                <td style="width: 35%;">
                                    <select id="nm_mes_nascimento" name="nm_mes_nascimento" data-dojo-type="dijit/form/FilteringSelect" style="width: 96%;"></select></td>
                            </tr>
                            <tr id="trProdutoAtual" style="display:none">
                                <td class="tdRight" style="width: 15%;">Produto Atual:</td>
                                <td style="width: 25%;" class="Table dojoTextBoxIECorrect">
                                    <select
                                        id="cbProdutoAtual"
                                        data-dojo-id="cbProdutoAtual"
                                        data-dojo-props='dropDown:true'
                                        name="cbProdutoAtual"
                                        multiple="true"
                                        onchange="atualizaCursosAtuais(this);"
                                        data-dojo-type="dojox/form/CheckedMultiSelect" style="width: 100%;" required="false">
                                    </select>
                                </td>
                                <td id="tdPeriodoProspect1" class="tdRight" style="width: 15%; display: none">Período do Prospect:</td>
                                <td id="tdPeriodoProspect2" style="width: 25%; display: none" class="Table dojoTextBoxIECorrect">
                                    <select
                                        id="cbPeriodo"
                                        data-dojo-id="cbPeriodo"
                                        data-dojo-props='dropDown:true'
                                        name="cbPeriodo"
                                        multiple="true"
                                        data-dojo-type="dojox/form/CheckedMultiSelect" style="width: 100%;" required="false">
                                    </select>
                                </td>                             
                            </tr>
                            <tr id="trComoConheceu" style="display:none">
                                <td id="tdComoConheceu1" class="tdRight" style="width: 15%">Como conheceu:</td>
                                <td id="tdComoConheceu2" style="width: 25%" class="Table dojoTextBoxIECorrect">
                                   <select id="cbComoConheceu" name="cbComoConheceu" data-dojo-type="dijit/form/FilteringSelect" style="width: 101%;"></select>
                                </td>
                            </tr>
                            <tr>
                                <td id="tdCursoAtual1" class="tdRight" style="display:none">Curso Atual:</td>
                                <td id="tdCursoAtual2" style="width: 25%;display:none" class="Table dojoTextBoxIECorrect">
                                    <select
                                        id="cbCursoAtual"
                                        data-dojo-id="cbCursoAtual"
                                        data-dojo-props='dropDown:true'
                                        name="cbCursoAtual"
                                        multiple="true"
                                        data-dojo-type="dojox/form/CheckedMultiSelect" style="width: 100%;" required="false">
                                    </select>
                                </td>
                                <td id="tdPeriodoAluno1" class="tdRight" style="width: 15%; display: none">Período do Aluno: Das:</td>
                                <td id="tdPeriodoAluno2" style="width: 25%; display: none" class="Table dojoTextBoxIECorrect">
                                    <input type="text" name="timeIni" id="timeIni" value="" style="width: 31.5%;"
                                        data-dojo-type="dijit/form/TimeTextBox"
                                        data-dojo-props="constraints: {clickableIncrement: 'T00:05', visibleIncrement: 'T00:30', formatLength:'short',min:'T08:00',max:'T18:00'}" required="true" />
                                    <label style="margin-left: 1%;">Até:</label><input type="text" name="timeFim" id="timeFim" value="" style="width: 31.5%;"
                                        data-dojo-type="dijit/form/TimeTextBox"
                                        data-dojo-props="constraints: {clickableIncrement: 'T00:05', visibleIncrement: 'T00:30', formatLength:'short',min:'T08:00',max:'T18:00'}" required="true" />
                                </td>
                            </tr>
                            <tr id="trMatricula" style="display:none">
                                <td class="tdRight">Data Matrícula:</td>
                                <td style="width: 25%"  class="Table dojoTextBoxIECorrect">
                                    <input id="dtaMatricula" name="dtaMatricula" style="width: 38%;" data-dojo-type="dijit.form.DateTextBox" onkeypress="mascaraDataHora(event, this)" maxlength="10"/>
                                    <label style="margin-left: 2%;">Data Inicial:</label><input id="dtaInicialTurm" style="width: 37%;" name="dtaInicialTurm" data-dojo-type="dijit.form.DateTextBox" onkeypress="mascaraDataHora(event, this)" maxlength="10"/>
                                </td>
                                <td id="tdTipoTurma1" class="tdRight">Tipo Turma:</td>
                                <td id="tdTipoTurma2" style="width: 25%" class="Table dojoTextBoxIECorrect">
                                    <select id="cbTipoTurma" name="cbTipoTurma" data-dojo-type="dijit/form/FilteringSelect" style="width: 31.5%;"></select>
                                    <label style="margin-left: 1%;">Situação:</label><select id="cbSituacaoTurma" name="cbSituacaoTurma" data-dojo-type="dijit/form/FilteringSelect" style="width: 47.5%;"></select>
                                </td>
                            </tr>

                            <tr id="trTurmaFilha" style="display:none">
                                 <td class="tdRight">
                                    <label id="lblTurmaFilhas" for="tipoTurma" style="display:none">Turmas Filhas:</label>
                                </td>
                                 <td class="Table dojoTextBoxIECorrect" style="width: 5%;">
                                     <div id="divPesTurmasFilhas" style="display:none">
                                         <input type="checkbox" id="pesTurmasFilhas" data-dojo-type="dijit/form/CheckBox" class="Check" />
                                     </div>
                                 </td>
                            </tr>

                            <tr id="trTurma" style="display:none">
                                <td class="tdRight" style="width: 15%">Dias:</td>
                                <td style="width: 25%">
                                    <select id="cbDiasMailMarketing" data-dojo-id="cbDiasMailMarketing" data-dojo-props='dropDown:true' name="cbDiasMailMarketing" 
                                            data-dojo-type="dojox/form/CheckedMultiSelect" style="width: 80%; max-width: 168px" multiple="true"></select>

                                       
                                </td>

                                <td class="Pesquisa tdRight" style="width: 10%">
                                    <input id="cd_turma_pesquisa" disabled="disabled" type="hidden" value="0"/>
                                    <input id="cd_turma" disabled="disabled" type="hidden" />
                                    <label for="cbTurma" class="AlinhaDireita">Turma: </label>
                                </td>
                                <td style="width: 26%" class="nowrap" class="dojoTextBoxIECorrect">
                                    <input id="cbTurma" style="width: 70%;" required="false" readonly="true" data-dojo-type="dijit/form/TextBox"/>
                                    <input id="pesProTurmaFK" style="min-width: 18px" />
                                    <input id="limparProTurmaFK" style="min-width: 18px" />
                                </td>
                            </tr>
                            <tr id="trSituacao" colspan="4" style="display:none">
                                <td class="tdRight" style="width: 15%">Situação do Aluno:</td>
                                <td style="width: 25%">
                                    <label> </label>
                                    <select id="cbSituacaoAluno" data-dojo-id="cbSituacaoAluno" data-dojo-props='dropDown:true' name="cbSituacaoAluno" multiple="true"
                                        data-dojo-type="dojox/form/CheckedMultiSelect" style="width: 50%; max-width: 130px"></select>
                                </td>
                            </tr>
                            
                             <tr id="trFaixaEtaria" style="display:none">
                                <td id="tdFaixaEtaria1" class="tdRight">Faixa Etária:</td>
                                <td id="tdFaixaEtaria2" style="width: 25%;" class="Table dojoTextBoxIECorrect">
                                    <select id="cbFaixaEtaria" required="false" name="cbFaixaEtaria" data-dojo-type="dijit/form/FilteringSelect" style="width: 36%;"></select>
                                </td>                               
                            </tr>

                            <tr id="trProspectAtivo" style="display:none">
                                <td id="tdProspectAtivo1" class="tdRight">Inativo:</td>
                                <td id="tdProspectAtivo2" style="width: 25%;" class="Table dojoTextBoxIECorrect">
                                    <input type="checkbox" id="ckProspectAtivo" checked="false" required="false" data-dojo-type="dijit/form/CheckBox" class="Check" />
                                </td>
                            </tr>

                            <tr>
                                <td id="tdTipoProfissao1" class="tdRight" style="display: none">Tipo:</td>
                                <td id="tdTipoProfissao2" style="width: 25%; display: none" class="Table dojoTextBoxIECorrect">
                                    <select id="tdTipoProfissao" name="tdTipoProfissao" data-dojo-type="dijit/form/FilteringSelect" style="width: 101%;"></select>
                                </td>                               
                            </tr>

                             <tr id="trRelacao" style="display:none">
                                <td class="tdRight" style="width: 15%;">Relação:</td>
                                <td style="width: 25%;" class="Table dojoTextBoxIECorrect">
                                    <select
                                        id="cbRelacao"
                                        data-dojo-id="cbRelacao"
                                        data-dojo-props='dropDown:true'
                                        name="cbRelacao"
                                        multiple="true"
                                        onchange="atualizaCursosAtuais(this);"
                                        data-dojo-type="dojox/form/CheckedMultiSelect" style="width: 100%;">
                                    </select>
                                </td>
                                <td id="tdGrauParentesco1" class="tdRight" style="width: 15%">Grau de Parentesco:</td>
                                <td id="tdGrauParentesco2" style="width: 25%" class="Table dojoTextBoxIECorrect">
                                    <select
                                        id="cbGrauParentesco"
                                        data-dojo-id="cbGrauParentesco"
                                        data-dojo-props='dropDown:true'
                                        name="cbGrauParentesco"
                                        multiple="true"
                                        data-dojo-type="dojox/form/CheckedMultiSelect" style="width: 96%;">
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Escrever Mensagem'">
        <div style="text-align: right">
            <div class="CaixaAcao">
                <div class="linha_acoes" style="width: 100%"></div>
                <div class="Alinhamento">
                    <input id="btInserirImagem" />&nbsp;<span class="linkSelecionados" id="linkTemasProntos"></span>&nbsp;<span class="linkSelecionados" id="linkCamposMesclagem"></span>
                    <input id="btnAnexarDocumento" />
                </div>
                <div class="linha_acoes" style="width: 100%"></div>
            </div>
        </div>
        <table class="Table">
            <tr>
                <td class="tdRight" style="width: 10%;">Assunto:</td>
                <td style="width: 90%;" class="Table dojoTextBoxIECorrect">
                    <input type="text" id="dc_assunto" name="dc_assunto" style="width: 100%;" data-dojo-type="dijit/form/ValidationTextBox" required="required" />
                </td>
            </tr>
            <tr>
                <td style="width: 100%;" colspan="2">
                    <div style="min-height: 200px" id="mensagemComporMsg"></div>
                    <div>
                        <span style="font-size: 10px">Rodapé Fixo</span>
                        <div id="rodape_fixo_msg"></div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>

<div id="dlgInserirImagem" data-dojo-type="dijit.Dialog"  data-dojo-id="dlgInserirImagem" title="Inserir Imagem" style="display: none; width: 400px; min-height: 175px;" class="font">
    <div class="apresentadorMsg" id="apresentadorMensagemInserirImagem" style="display: none;"></div>
    <div class="corpo_interno" style="max-width: 395px; padding-top: 15px;">
        <form data-dojo-type="dojox/form/Manager" enctype="multipart/form-data" id="formInserirImagem">
            <div style="width: 100%; text-align: center">
                <div>
                    <table class="Table" style="height:105px">
                        <tr>
                            <td class="tdRight" style="width: 22%">
                                <label>Upload:</label>
                            </td>
                            <td style="text-align: left">
                                <input class="browseButton"
                                       name="uploadedfile"
                                       multiple="false"
                                       type="file"
                                       force:"iframe"
                                       isDebug:"true"
                                       data-dojo-type="dojox/form/Uploader"
                                       fileMask="['Images', '*.jpg;*.jpeg;*.gif;*.png']"
                                       label="Upload Imagem" id="uploader" />
                            </td>
                            
                        </tr>
                        <tr>
                            <td colspan="2" style="line-height: 1; margin: 0px 2px; padding: 11px 20px; border-radius: 3px; font-size: 13px; border: 1px solid #dbdbdb; color: #6b6e7f; background-color: #f0f0f0; word-break: break-word;">
                                <span  id="url_imagem_name">&nbsp;</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <input type="button" id="fechar" title="Fechar" />&nbsp;<input type="button" id="incluir" title="Incluir" />
                                <span id="url_imagem" style="display:none">&nbsp;</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

<div data-dojo-type="dijit.Dialog" id="dlgAnexarDocumento" title="Anexar Documento" style="width: 635px; display: none; height: 400px">
    <div class="apresentadorMsg" id="apresentadorMensagemDocumentoAnexo" style="display: none;"></div>
    <div class="corpo_interno" style="height: 85%">
        <div class="EspacoCaixa caixaPesquisa">
             <input 
                 class="browseButton"
                 name="uploadedfile"
                 multiple="true"
                 type="file"
                 force:"iframe"
                 data-dojo-type="dojox/form/Uploader"
                 fileMask="['files', '*.pdf;']"
                 label="Selecionar arquivo" id="upIncluirDocumento" />  

              <div data-dojo-type="dijit/layout/ContentPane" style="width: 100%; height: 200px; padding-left: 0px">
                <div id="gridDocumentoAnexo" style="height: 100%;"></div>
            </div>
            <div style="padding-top: 5px; width: 100%">
                <div class="linha_acoes" style="width: 100%"></div>
                <table style="width: 100%">
                    <tr style="width: 100%">
                        <td style="text-align: center; width: 100%;">
                           <input style="margin-left:30%" type="button" id="fecharDialog" title="Fechar" />
                                &nbsp;<input type="button" id="btnIncluirDocumento" title="Incluir" />
                                <span id="url_documento_anexo" style="display:none">&nbsp;</span>
                        </td>
                    </tr>
                </table>
            </div>          
        </div>
    </div>
</div>

@*Dialog para baixar documentos anexo.*@
<div data-dojo-type="dijit.Dialog" id="dlgHistDocAnexo" title="Histórico Documentos" style="width: 635px; display: none; height: 330px">
    <div class="apresentadorMsg" id="apresentadorMensagemHistDocAnexo" style="display: none;"></div>
    <div class="corpo_interno" style="height: 85%">
        <div class="EspacoCaixa caixaPesquisa">
            
             <div data-dojo-type="dijit/layout/ContentPane" style="width: 100%; height: 200px; padding-left: 0px">
                <div id="gridHistDocAnexo" style="height: 100%;"></div>
            </div>
            <div style="padding-top: 5px; width: 100%">
                <div class="linha_acoes" style="width: 100%"></div>
                <table style="width: 100%">
                    <tr style="width: 100%">
                        <td style="text-align: center; width: 100%;">
                           <input style="margin-left:30%" type="button" id="fecharHistDocAnexo" title="Fechar" />                                
                        </td>
                    </tr>
                </table>
            </div>          
        </div>
    </div>
</div>

<div id="dialogListagemEnderecos" data-dojo-type="dijit.Dialog" title="Listagem de Endereços" style="display: none; width: 700px; height: 590px;">
    <div style="width: 685px; height: 622px;" class="scroll">
        <div class="apresentadorMsg" id="apresentadorMensagemListagemEnderecos" style="display: none;"></div>
        <div style="width: 100%; height: 100%;">
            <div data-dojo-type="dijit/layout/ContentPane" id="panelListagemEnderecoFK" style="width: 100%; height: 550px; padding-top: 5px; padding-left: 0px">
                <div class="CaixaAcao" id="acoesListagemEnderecos">
                    <div class="linha_acoes" style="width: 100%">
                        <div id="paiListagemFK">
                            <div id="legendListagemFK" style="align-items: center;"></div>
                        </div>
                        <div id='chartListagemFK' style='display: none'></div>
                    </div>
                    <div class="Alinhamento">
                        <input id="btEnviarFK" />
                    </div>
                    <div class="linha_acoes" style="width: 100%"></div>
                </div>
                <div style="padding-top: 5px">
                    <div id="gridListagemEnderecoFK" style="height: 540px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@* criando a turmafk *@
<div id="proTurmaFK" data-dojo-type="dijit.Dialog" title="Pesquisar Turma" style="display: none; width: 800px; height: 590px;">
    <input id="apresentadorMensagemFks" type="hidden">
    <div class="apresentadorMsg" id="apresentadorMensagemTurmaFK" style="display: none;"></div>
    <div style="width: 785px; height: 590px;">
        @Html.Partial("../Coordenacao/TurmaFK")
    </div>
</div>